  <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        
                            <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Monto de Ventas Mensuales ultimo año
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= column_chart @coffees_in_months %>
                                </div>
                            </div>
                        
                            
                        </div>
                        <div class="row">
                            
                        </div>
                        <div class="card xl-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cantidad de Ventas Mensuales ultimo año
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart @coffees_by_count %>>
                                </div>
                            </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Promedio de Ventas mesuales ultimo año
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= line_chart @coffees_by_prom%>
                                </div>
                            </div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active my-3">Según origen</li>
                        </ol>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cantidad de Ventas ultimo año Según origen
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart  @coffees_by_origin_year %>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cantidad de Ventas ultimo 6 meses Según origen
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart @coffees_by_origin_6month %>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cantidad de Ventas ultimos 3 meses Según origen
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart  @coffees_by_origin_last3month%>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cantidad de Ventas ultimo mes Según origen
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart  @coffees_by_origin_lastmonth %>
                                </div>
                        </div>

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active my-3">segun mezcla</li>
                        </ol>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                cantidad de Ventas ultimo año por mezcla
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart @coffees_by_blend_year %>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                cantidad de Ventas ultimo 6 meses por mezcla
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart @coffees_by_blend_6month%>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                cantidad de Ventas ultimos 3 meses por mezcla
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart  @coffees_by_blend_last3month %>
                                </div>
                        </div>

                        <div class="card xl-12">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                cantidad de Ventas ultimo mes por mezcla
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <%= pie_chart  @coffees_by_blend_lastmonth %>
                                </div>
                        </div>



                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Website Elian Rojas // Abril 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>



 
